@charset "UTF-8";
@keyframes utensils {
  0% {
    transform: translateX(100px);
  }
  33% {
    transform: translateX(0px);
  }
  66% {
    transform: translateY(-28px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes title {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(2);
  }
}
@keyframes main-visibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sync {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.footer {
  background-color: #3e3c3c;
  padding-bottom: 35px;
}
.footer__logo {
  height: 20px;
  margin: 20px;
  filter: invert(1);
}
.footer__box__link {
  margin: 0 0 10px 20px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  align-items: center;
  font-weight: 600;
}
.footer__box__link__utensils {
  margin-right: 17px;
}
.footer__box__link__helping {
  margin-right: 10px;
}
.footer__box__link__below {
  margin: 0;
}

.heading__arrow {
  transform: translateX(-64px);
  color: #3e3c3c;
  font-size: 1.3em;
}
.heading__logo {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.heading__logo--dimension {
  height: 30px;
  width: 165px;
}

.presentation__location {
  height: 50px;
  background-color: #e6e6e6;
  box-shadow: inset 0px 3px 2px #cfcfcf;
  padding-left: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation__location--dimension {
  height: 30px;
  width: 165px;
}
.presentation__location__marker {
  margin-right: 14px;
  padding-bottom: 6px;
}
.presentation__location__search {
  border: none;
  border-width: 0px;
  background-color: #e6e6e6;
  font-size: 1em;
  cursor: pointer;
}
.presentation__text {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #f7f7f7;
  height: 287px;
}
.presentation__text__title {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 0 20px 19%;
  padding-top: 38px;
}
.presentation__text__below {
  margin: 0 0 30px 0;
  font-weight: 100;
  font-size: 1.2em;
  opacity: 0.65;
}
.presentation__text__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 60px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: white;
  text-decoration: none;
  border-radius: 2em;
  margin-left: 10px;
  box-shadow: 5px 5px 10px #adadad;
  position: relative;
  z-index: 1;
}
.presentation__text__btn:hover::after {
  opacity: 1;
}
.presentation__text__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms ease-in-out;
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 5px 5px 10px #a0a0a0;
  border-radius: 2em;
}

.operation {
  margin-left: 20px;
}
.operation__title {
  margin-bottom: 30px;
}
.operation__box__box2 {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
}
.operation__box__box2__number {
  color: white;
  display: flex;
  position: absolute;
  top: 10px;
  border-radius: 100%;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}
.operation__box__box2__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 25px 10px;
  padding-left: 34px;
  height: 72px;
  width: 325px;
  border-radius: 1em;
  box-shadow: 5px 5px 10px #adadad;
  background-color: #e8e8e8;
}
.operation__box__box2__button--margin1 {
  margin-right: 29px;
  opacity: 0.5;
}
.operation__box__box2__button--margin2 {
  margin-right: 23px;
  opacity: 0.5;
}
.operation__box__box2__button2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 25px 10px;
  padding-left: 34px;
  height: 72px;
  width: 325px;
  border-radius: 1em;
  box-shadow: 5px 5px 10px #adadad;
  background-color: #e8e8e8;
  background-color: #e2e5fd;
}
.operation__box__box2__button2--margin3 {
  margin-right: 20px;
  color: #9356dc;
}

.restaurant {
  flex-direction: column;
  margin-left: 20px;
  padding-bottom: 45px;
}
.restaurant__box__link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.restaurant__box__link__fig {
  width: 95%;
  height: 250px;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px #c5c5c5;
  margin: 0 0 20px 0;
  position: relative;
}
.restaurant__box__link__fig__img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}
.restaurant__box__link__fig__new {
  width: 80px;
  height: 25px;
  background-color: #99e2d0;
  position: absolute;
  top: 15px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 0.3rem;
  color: #0fa781;
}
.restaurant__box__link__fig__figcaption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30%;
}
.restaurant__box__link__fig__figcaption__box {
  margin-left: 20px;
  height: 100%;
  align-items: center;
}
.restaurant__box__link__fig__figcaption__box__title {
  margin: 15px 0 5px 0;
}
.restaurant__box__link__fig__figcaption__box__below {
  margin: 0;
}
.restaurant__box__link__fig__figcaption__box2 {
  padding-bottom: 5%;
}
.restaurant__box__link__fig__figcaption__box2__heart {
  position: relative;
  z-index: 1;
  cursor: pointer;
  font-size: 20px;
  margin-right: 15px;
}
.restaurant__box__link__fig__figcaption__box2__heart:hover::after {
  opacity: 1;
}
.restaurant__box__link__fig__figcaption__box2__heart::after {
  content: "";
  position: absolute;
  left: -1px;
  opacity: 0;
  font-size: 110%;
  font-weight: bold;
  background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 150ms ease-in-out;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: white;
  font-family: "Shrikhand", Arial, sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 10;
  animation-duration: 3s;
  animation-name: sync;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
}
.loading__spin {
  -webkit-animation: fa-spin 2s linear 2;
}
.loading__spinner {
  animation: logo 2s ease 400ms;
}

.section {
  position: relative;
  background-color: #f7f7f7;
}
.section__img {
  height: 255px;
  width: 100%;
  object-fit: cover;
}
.section__box {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  top: 205px;
  border-radius: 1.5em 1.5em 0 0;
  background-color: #f7f7f7;
  width: 100%;
}
.section__box__title {
  font-family: "Shrikhand", sans-serif;
  padding-left: 19px;
  margin-bottom: 0;
  font-size: 1.8em;
}
.section__box__heart {
  margin: 20px 36px 0 0;
  font-size: 1.7em;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.section__box__heart:hover::after {
  opacity: 1;
}
.section__box__heart::after {
  content: "";
  position: absolute;
  top: 0;
  left: -1.5px;
  opacity: 0;
  font-size: 109%;
  font-weight: bold;
  background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 150ms ease-in-out;
}
.section__menu {
  width: 100%;
}
.section__menu__article__title {
  margin: 30px 0 14px 23px;
  font-size: 1em;
  font-weight: 100;
  width: 40px;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 6px;
}
.section__menu__article__box {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 1em;
  box-shadow: 2px 5px 10px #adadad;
  width: 93%;
  margin: 0 0 14px 3.5%;
  cursor: pointer;
  opacity: 0;
  position: relative;
  overflow: hidden;
  animation: menu-opacity 1500ms forwards;
}
.section__menu__article__box--1 {
  animation-delay: 150ms;
}
.section__menu__article__box--2 {
  animation-delay: 300ms;
}
.section__menu__article__box--3 {
  animation-delay: 450ms;
}
.section__menu__article__box--4 {
  animation-delay: 600ms;
}
.section__menu__article__box--5 {
  animation-delay: 750ms;
}
.section__menu__article__box--6 {
  animation-delay: 900ms;
}
.section__menu__article__box--7 {
  animation-delay: 1050ms;
}
.section__menu__article__box--8 {
  animation-delay: 1200ms;
}
.section__menu__article__box--9 {
  animation-delay: 1350ms;
}
.section__menu__article__box--10 {
  animation-delay: 1500ms;
}
.section__menu__article__box:hover .section__menu__article__box__box2__title {
  width: 65%;
  transition: 500ms;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.section__menu__article__box:hover .section__menu__article__box__box2__below {
  width: 65%;
  transition: 500ms;
}
.section__menu__article__box:hover .section__menu__article__box__box3 {
  transform: translateX(-58px);
  transition: transform 500ms;
}
.section__menu__article__box:hover .section__menu__article__box__box3__checkbox {
  opacity: 1;
  transition: opacity 10ms;
}
.section__menu__article__box:hover .section__menu__article__box__box3__checkbox__check {
  transform: rotate(360deg);
  transition: transform 500ms;
}
.section__menu__article__box__box2 {
  width: 100%;
  margin-left: 11px;
  flex-direction: column;
}
.section__menu__article__box__box2__title {
  width: 85%;
  transition: 500ms;
  margin: 12px 0 0 0;
}
.section__menu__article__box__box2__below {
  width: 85%;
  transition: 500ms;
  height: 19px;
  margin: 5px 0 12px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.section__menu__article__box__box3 {
  width: 124px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: -81px;
  transform: translateX(0px);
  transition: transform 500ms;
}
.section__menu__article__box__box3__price {
  background-color: white;
  border-radius: 0 1em 1em 0;
  margin-bottom: 14px;
  font-weight: bold;
  width: 22px;
  padding-right: 21px;
  color: #3e3c3c;
}
.section__menu__article__box__box3__checkbox {
  padding: 0 20px 0 19px;
  height: 100%;
  border-radius: 0 1em 1em 0;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  opacity: 1;
}
.section__menu__article__box__box3__checkbox__check {
  border-radius: 100%;
  background-color: white;
  color: #99e2d0;
  font-size: 0.9em;
  padding: 3px;
}
.section__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 100%;
}
.section__button__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 60px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: white;
  text-decoration: none;
  border-radius: 2em;
  margin-left: 10px;
  box-shadow: 5px 5px 10px #adadad;
  position: relative;
  z-index: 1;
}
.section__button__btn:hover::after {
  opacity: 1;
}
.section__button__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms ease-in-out;
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 5px 5px 10px #a0a0a0;
  border-radius: 2em;
}

@media screen and (min-width: 1201px) {
  .heading__logo {
    margin: 20px;
  }
  .heading__logo--dimension {
    width: 246px;
    height: 43px;
  }

  .presentation__location {
    width: 15%;
    margin-left: 42%;
    padding-left: 20px;
  }
  .presentation__location:hover {
    background-color: #e6e6e6;
    border-radius: 1em;
    border: 1px solid #9356DC;
  }
  .presentation__location:hover .presentation__location__search {
    background-color: #e6e6e6;
  }
  .presentation__location__marker {
    padding-left: 20px;
  }
  .presentation__text__btn {
    margin-top: 40px;
  }

  .operation {
    margin: 0;
  }
  .operation__title {
    text-align: center;
  }
  .operation__box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 11%;
  }
  .operation__box__box2 {
    width: 25%;
  }
  .operation__box__box2__button {
    background-color: #f7f7f7;
    padding-right: 10px;
  }
  .operation__box__box2__button2 {
    padding-right: 10px;
  }

  .restaurant {
    margin-left: 0;
  }
  .restaurant__title {
    text-align: center;
    margin-bottom: 50px;
  }
  .restaurant__box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
  .restaurant__box__link {
    width: 35%;
    margin: 0 0 40px 35px;
  }
  .restaurant__box__link__fig {
    height: 297px;
    background-color: #f7f7f7;
  }
  .restaurant__box__link__fig__img {
    height: 220px;
  }

  .section {
    width: 100%;
    background-color: transparent;
  }
  .section__img {
    width: 50%;
    margin-left: 25%;
    border-radius: 1em;
  }
  .section__container {
    width: 50%;
    margin-left: 25%;
    border-radius: 0 0 1em 1em;
    box-shadow: 3px 5px 5px #adadad;
    padding-bottom: 10px;
  }
  .section__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
  }
  .section__menu__article {
    width: 30%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .footer__logo {
    width: 150px;
    height: 30px;
  }
  .footer__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 500px) and (max-width: 1200px) {
  .heading__logo {
    margin: 20px;
  }
  .heading__logo--dimension {
    width: 246px;
    height: 43px;
  }

  .presentation__location {
    width: 28%;
    margin-left: 36%;
    padding-left: 20px;
  }
  .presentation__location:hover {
    background-color: #e6e6e6;
    border-radius: 1em;
    border: 1px solid #9356DC;
  }
  .presentation__location:hover .presentation__location__search {
    background-color: #e6e6e6;
  }
  .presentation__location__search {
    width: 80%;
  }
  .presentation__text__btn {
    margin-top: 40px;
  }

  .operation {
    margin: 0;
  }
  .operation__title {
    text-align: center;
  }
  .operation__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .operation__box__box2 {
    width: 45%;
    margin-left: 29%;
  }
  .operation__box__box2__button {
    background-color: #f7f7f7;
    width: 100%;
  }
  .operation__box__box2__button2 {
    width: 100%;
  }

  .restaurant {
    margin: 0;
  }
  .restaurant__title {
    text-align: center;
    margin-bottom: 50px;
  }
  .restaurant__box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
  .restaurant__box__link {
    width: 40%;
    margin-bottom: 40px;
  }
  .restaurant__box__link__fig {
    background-color: #f7f7f7;
    width: 100%;
  }
  .restaurant__box__link__fig__figcaptation__container {
    align-items: center;
  }

  .section {
    width: 75%;
    margin: 0% 12.5%;
    background-color: transparent;
  }
  .section__img {
    border-radius: 1em;
  }
  .section__container {
    border-radius: 0 0 1em 1em;
    box-shadow: 3px 5px 5px #adadad;
    padding-bottom: 10px;
  }
  .section__menu {
    padding-top: 40px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .footer__logo {
    width: 150px;
    height: 30px;
  }
  .footer__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 2%;
  }
}

/*# sourceMappingURL=style.css.map */
