@mixin btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 25px 10px;
    padding-left: 34px;
    height: 72px;
    width: 325px;
    border-radius: 1em;
    box-shadow: 2px 6px 10px $box-shadox;
}
@mixin btn2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 218px;
    height: 50px;
    background:linear-gradient(to bottom right, $secondary, $primary);
    color: white;
    text-decoration: none;
    border-radius: 2em;
    margin-left: 8px;
    box-shadow: 2px 5px 10px  $box-shadox;
    position: relative;
    z-index: 1;
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms ease-in-out;
        background:linear-gradient(to bottom right,lighten($secondary,5%),lighten($primary,5%));
        box-shadow: 2px 5px 10px darken($color: $box-shadox, $amount: 5%);
        border-radius: 2em;
    }
}