.section{
    position: relative;
    background-color: $colour-present;
    &__img{
        height: 255px;
        width: 100%;
        object-fit: cover;
    }
    &__box{
        display: flex;
        flex-direction: row;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        top: 205px;
        border-radius: 1.5em 1.5em 0 0;
        background-color: $colour-present;
        width: 100%;
        &__title{
            font-family:'Shrikhand' , sans-serif;
            padding-left: 19px;
            margin-bottom: 0;
            font-size: 1.8em;
        }
        &__heart{
            margin:20px 36px 0 0;
            font-size: 1.7em;
            @include full-hearth2;
        }
    }
    &__menu{
        width: 100%;
        &__article{
            &__title{
                margin:30px 0 14px 23px;
                font-size: 1em;
                font-weight: 100;
                width: 40px;
                border-bottom: 3px solid $tertiary;
                padding-bottom: 6px;
            }
            &__box{
                display: flex;
                flex-direction: row;
                background-color: white;
                border-radius: 1em;
                box-shadow: 2px 5px 10px $colour-shadow;
                width: 93%;
                margin:0 0 14px 3.5%;
                cursor: pointer;
                opacity: 0;
                position: relative;
                overflow: hidden;
                animation: menu-opacity $anim-duration forwards;
                @for $i from 1 through $num-container{
                    &--#{$i} {
                        animation-delay: $anim-delay * $i;
                    }
                }
                &:hover &__box2__title {
                    width: 65%;
                    transition: 500ms;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                &:hover &__box2__below{
                    width: 65%;
                    transition: 500ms;
                }
                &:hover &__box3{
                    transform: translateX(-58px);
                    transition: transform 500ms;
                }
                &:hover &__box3__checkbox{
                    opacity: 1;
                    transition: opacity 10ms;
                }
                &:hover &__box3__checkbox__check{
                    transform: rotate(360deg);
                    transition: transform 500ms ;
                }
                &__box2{
                    width: 100%;
                    margin-left: 11px;
                    flex-direction: column;
                    &__title{
                        width: 85%;
                        transition: 500ms;
                        margin: 12px 0 0 0;
                    }
                    &__below{
                        width: 85%;
                        transition: 500ms;
                        height: 19px;
                        margin:5px 0 12px 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
                &__box3{
                    width: 124px;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    position: absolute;
                    top: 0;
                    right: -81px;
                    transform: translateX(0px);
                    transition: transform 500ms;
                    &__price{
                        background-color: white;
                        border-radius: 0 1em 1em 0;
                        margin-bottom: 14px;
                        font-weight: bold;
                        width: 22px;
                        padding-right: 21px;
                        color: $colour-footer;
                    }
                    &__checkbox{
                        padding: 0 20px 0 19px;
                        height: 100%;
                        border-radius: 0 1em 1em 0;
                        background-color: $tertiary;
                        display: flex;
                        align-items: center;
                        opacity: 1;
                        &__check{
                            border-radius: 100%;
                            background-color: white;
                            color: $tertiary;
                            font-size: 0.9em;
                            padding: 3px;
                        }
                    }
                }
            }
        }
    }
    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 140px;
        width: 100%;
        &__btn{
            @include btn2;
        }
    }
}
