.presentation{
    &__location{
        height: 50px;
        background-color: $colour-location;
        box-shadow:inset 0px 3px 2px #cfcfcf;
        padding-left: 60px;
        @include head;
        &__marker{
            margin-right: 14px;
            padding-bottom: 6px;
        }
        &__search{
            border: none;
            border-width: 0px;
            background-color: $colour-location;
            font-size: 1em;
            cursor: pointer;
        }
    }
    &__text{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: $colour-present;
        height: 287px;
        &__title{
            display: flex;
            justify-content: center;
            width: 60%;
            margin:0 0 20px 19%;
            padding-top: 38px;
        }
        &__below{
            margin:0 0 30px 0;
            font-weight: 100;
            font-size: 1.2em;
            opacity: 0.65;
        }
        &__btn{
            @include btn2;
        }
    }
}
.operation{
    margin-left: 20px;
    &__title{
        margin-bottom: 30px;
    }
    &__box{
        &__box2{
            position: relative;
            width: 90%;
            display: flex;
            flex-direction: row;
            &__number{
                color: white;
                display: flex;
                position: absolute;
                top: 10px;
                border-radius: 100%;
                background-color: $primary;
                width: 25px;
                height: 25px;
                justify-content: center;
                align-items: center;
            }
            &__button{
                @include btn;
                &--margin1{
                    margin-right: 29px;
                    opacity: 0.50;
                }
                &--margin2{
                    margin-right: 23px;
                    opacity: 0.50;
                }
            }
            &__button2{
                @include btn;
                background-color: #e2e5fd;
                &--margin3{
                    margin-right: 20px;
                    color: $primary;
                } 
            }
        }
    }
}
.restaurant{
    flex-direction: column;
    margin-left: 20px;
    padding-bottom: 45px;
    &__box{
        &__link{
            text-decoration: none;
            color: black;
            cursor: pointer;
            &__fig{
                @include index-fig;
                &__img{
                    @include index-pic;
                }
                &__new{
                    @include new;
                }
                &__figcaption{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    height: 30%;
                    
                    &__box{
                        margin-left: 20px;
                        height: 100%;
                        align-items: center;
                        &__title{
                            margin: 15px 0 5px 0;
                        }
                        &__below{
                            margin: 0;
                        }
                    }
                    &__box2{
                        padding-bottom: 5%;
                        &__heart{
                            @include heart;
                            font-size: 20px;
                            margin-right: 15px;                        
                        }
                    }
                }
            }
        }
    }
}