@keyframes utensils{
    0%{ transform: translateX(100px);}
    33%{ transform: translateX(0px);}
    66%{ transform: translateY(-28px);}
    100%{transform: translateY(0px);}
}
@keyframes title{
    0%{ transform: scale(1);}
    50%{ transform: scale(0.3);}
    100%{ transform: scale(2);}
}
@keyframes main-visibility{
    0%{opacity: 0; }
    100% {opacity: 1;}
}
@keyframes menu-opacity {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
@keyframes sync
{
	0%,40%
	{
		opacity: 1;	
	}

	100%
	{
		opacity: 0;
		z-index: -1

	}
}