@mixin index-thumbnail{
    width: 94.4%;
    height: 251px;
    border-radius: 1em;
    box-shadow: 2px 5px 10px #c5c5c5;
    margin: 0 0 18px 0;
    position: relative;
}

@mixin index-picture{
    width: 100%;
    height: 174px;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}
@mixin new{
    width: 79px;
    height: 29px;
    background-color: $tertiary;
    position: absolute;
    top: 13px;
    right: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 2px;
    color:darken($color: $tertiary, $amount: 35%)
}
@mixin full-hearth{
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    &::after{
        content: "\f004";
        position: absolute;
        top: -1px;
        left: -1px;
        opacity: 0;
        font-size: 110%;
        font-weight: bold;
        background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 150ms ease-in-out;
    }
}
@mixin full-hearth2{
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    &::after{
        content: "\f004";
        position: absolute;
        top: 0;
        left: -1.5px;
        opacity: 0;
        font-size: 109%;
        font-weight: bold;
        background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 150ms ease-in-out;
    }
}
@mixin head{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
     &--dimension{
        height: 30px;
        width: 165px;
    }
}