@mixin index-fig{
    width: 95%;
    height: 250px;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px #c5c5c5;
    margin: 0 0 20px 0;
    position: relative;
}
@mixin index-pic{
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}
@mixin new{
    width: 80px;
    height: 25px;
    background-color: $tertiary;
    position: absolute;
    top: 15px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 0.3rem;
    color:#0fa781;
}
@mixin heart{
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    &::after{
        content: "\f004";
        position: absolute;
        left: -1px;
        opacity: 0;
        font-size: 110%;
        font-weight: bold;
        background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 150ms ease-in-out;
    }
}
@mixin footer{
        margin: 0 0 10px 20px;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: white;
        align-items: center;
        font-weight: 600;
}
@mixin full-hearth2{
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    &::after{
        content: "\f004";
        position: absolute;
        top: 0;
        left: -1.5px;
        opacity: 0;
        font-size: 109%;
        font-weight: bold;
        background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 150ms ease-in-out;
    }
}
@mixin head{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
     &--dimension{
        height: 30px;
        width: 165px;
    }
}