$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$back-map:#eaeaea;
$back-sec:#f6f6f6;
$box-shadox:#c5c5c5;
$footer-price :#353535;
$anim-duration: 1500ms;
$num-container: 10;
$anim-delay: $anim-duration / $num-container;
