$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$colour-location:#e6e6e6;
$colour-present:#f7f7f7;
$colour-shadow:#adadad;
$arrow-footer :#202020;
$anim-duration: 1500ms;
$num-container: 10;
$anim-delay: $anim-duration / $num-container;
