@media screen and (min-width:1201px){
    .heading__logo{
        margin: 20px;
        &--dimension{
            width: 246px;
            height: 43px;
        }
    }
    .presentation{
        &__location{
            width: 15%;
            margin-left: 42%;
            padding-left: 20px;
            &:hover{
                background-color: $colour-location;
                border-radius: 1em;
                border: 1px solid #9356DC;
            }
            &:hover &__search{
                background-color: $colour-location;
            }
            &__marker{
                padding-left: 20px;
            }
        }
        &__text{
            &__btn{
                margin-top: 40px;
            }
        }
    }
    .operation{
        margin: 0;
        &__title{
            text-align: center;
        }
        &__box{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0px 11%;
            &__box2{
                width: 25%;
                &__button{
                    background-color: $colour-present;
                    padding-right: 10px;
                }
                &__button2{
                    padding-right: 10px;
                }
            }
        }
    }
    .restaurant{
        margin-left: 0;
        &__title{
            text-align: center;
            margin-bottom: 50px;
        }
        &__box{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            &__link{
                width: 35%;
                margin:0 0 40px 35px;
                &__fig{
                    height: 297px;
                    background-color: $colour-present;
                    &__img{
                        height: 220px;
                    }
                }
            }
        }
    }
    .section{
        width: 100%;
        background-color: transparent;
        &__img{
            width: 50%;
            margin-left: 25%;
            border-radius: 1em;
        }
        &__box{
            width: 50%;
            margin-left: 25%;
            border-radius: 0 0 1em 1em;
            box-shadow: 3px 5px 5px $colour-shadow;
            padding-bottom: 10px;
        }
        &__menu{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 40px;
            &__article{
                width: 30%;
            }
        }
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        &__logo{
            width: 150px;
            height: 30px;
        }
        &__box{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}