@media screen and (min-width:500px) and (max-width:1200px) {
    .heading__logo{
        margin: 20px;
        &--dimension{
            width: 246px;
            height: 43px;
        }
    }
    .presentation{
        &__location{
            width: 28%;
            margin-left: 36%;
            padding-left: 20px;
            &:hover{
                background-color: $colour-location;
                border-radius: 1em;
                border: 1px solid #9356DC;
            }
            &:hover &__search{
                background-color: $colour-location;
            }
            &__search{
                width: 80%;
            }
        }
        &__text{
            &__btn{
                margin-top: 40px;
            }
        }
    }
    .operation{
        margin: 0;
        &__title{
            text-align: center;
        }
        &__box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            &__box2{
                width: 45%;
                margin-left: 29%;
                &__button{
                    background-color: $colour-present;
                    width: 100%;
                }
                &__button2{
                    width: 100%;
                }
            }
        }
    }
    .restaurant{
        margin: 0;
        &__title{
            text-align: center;
            margin-bottom: 50px;
        }
        &__container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            &__link{
                width: 40%;
                margin-bottom: 40px;
                &__fig{
                    background-color: $colour-present;
                    width: 100%;
                    &__figcaptation__container{
                        align-items: center;
                    }
                }
            }
        }
    }
    .section{
        width: 75%;
        margin:0% 12.5%;
        background-color: transparent;
        &__img{
            border-radius: 1em;
        }
        &__container{
            border-radius: 0 0 1em 1em;
            box-shadow: 3px 5px 5px $colour-shadow;
            padding-bottom: 10px;
        }
        &__menu{
            padding-top: 40px;
        }
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        &__logo{
            width: 150px;
            height: 30px;
        }
        &__container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-right: 2%;
        }
    }
}